/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
merge_output.txt
server_log.txt
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.playwright-mcp
project_backup_with_db.zip
*.DS_Store
*.png
!public/**/*.png
